@page "/rental/detailrental"


@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@inject AppForMoviesAPIClient apiclient

<h3>DetailRental</h3>

@attribute [Authorize]

@if (rental==null)
{
    <p>@error</p>
}else
{
        <table class="table table-borderless table-sm">
        <tr>
            <th>Name and Surname</th>
            <td id="NameSurname">@rental.NameCustomer @rental.SurnameCustomer</td>
        </tr>
        <tr>
            <th>Delivery Address</th>
            <td id="DeliveryAddress">@rental.DeliveryAddress</td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td id="PaymentMethod">@rental.PaymentMethod</td>
        </tr>
        <tr>
            <th>Rental Date</th>
            <td id="RentalDate">@rental.RentalDate.ToString("dd/MM/yyyy hh:mm:ss")</td>
        </tr>
        <tr>
            <th>Rental period</th>
            <td id="RentalPeriod">@rental.RentalDateFrom.DateTime.ToString("dd/MM/yyyy") - @rental.RentalDateTo.DateTime.ToString("dd/MM/yyyy")</td>
        </tr>
    </table>

       <h4>Rented Movies</h4>

    <table class="table" id="RentedMovies">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Price for Renting</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (RentalItemDTO item in rental.RentalItems)
            {
                <tr id="RentalItem_@item.Title">
                    <td>@item.Title</td>
                    <td>@item.Genre</td>
                    <td>@item.PriceForRenting €</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
        <tfoot>
              @*colspan is used to state that TWO columns are collapsed*@
            <th scope="row" colspan="2" class="text-end">Total Price</th>
            <td id="TotalPrice">@rental.CostofRental €</td>
        </tfoot>

    </table>

}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int RentalID { get; set; }
    private RentalForDetailDTO rental;
    private string error = "";

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }


    protected override async Task OnInitializedAsync() {

        //we check the user is logged in
        string userName = "";
        if (authenticationState is not null) {
            var authState = await authenticationState;
            var user = authState?.User;

            //we retrieve the id of the user logged in
            if (user is not null) {
                if (user.Identity is not null && user.Identity.IsAuthenticated && user.IsInRole("User")) {
                    userName = user.Identity.Name;
                }
            }
        }

        try {
            rental = await apiclient.GetRentalAsync(RentalID);
        }
        catch (ApiException exception) {
            rental = null;
        }
        if ((rental == null) || (rental.UserNameCustomer != userName)) {
            error = $"Error! You are not authorized to see this rental or there is not a rental with id={RentalID}";
        }


    }

}
